@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&family=Orbitron:wght@500&family=Inconsolata:wght@300&display=swap');

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Mono', monospace;
  background-color: #000000;
  background-image: linear-gradient(to bottom, #00ff62, #00ff62, #000000);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  color: #ffffff;
}

/* Header */
header {
  background-color: #000000; /* Ajuste del color de fondo a negro */
  margin-top: 0;
  padding: 0;
  position: sticky;
  top: 0;
  height: 245px;
  width: 100%;
  border: 3px solid #39ff14;
  position: relative;
}

header h1 {
  color: #39ff14;
  font-size: 55px;
  font-family: 'Orbitron', sans-serif;
  font-weight: 500;
  text-align: center;
}

/* Media query para dispositivos móviles */
@media only screen and (max-width: 767px) {
  /* Estilos para el menú desplegable en dispositivos móviles */
  .navbar-nav {
    flex-direction: column; /* Cambia la dirección a columna para dispositivos móviles */
    padding-top: 20px; /* Añade espacio entre elementos del menú en dispositivos móviles */
  }

  .navbar-nav .nav-item {
    text-align: center; /* Centra los elementos del menú en dispositivos móviles */
    margin: 0;
  }

  .navbar-nav .nav-link {
    padding: 10px; /* Añade espacio alrededor de los enlaces del menú en dispositivos móviles */
  }
}

@media only screen and (max-width: 767px) {
  header h1 {
    font-size: 36px; /* Ajusta el tamaño del título para dispositivos móviles */
  }


  nav {
    flex-direction: column;
    align-items: center;
  }

  nav ul {
    flex-direction: column;
    padding: 10px;
  }

  nav li {
    margin: 10px 0;
  }

  nav a {
    font-size: 18px; /* Ajusta el tamaño de los enlaces del menú para dispositivos móviles */
    margin-right: 0; /* Elimina el margen derecho en dispositivos móviles */
  }

  main {
    grid-template-columns: 1fr; /* Cambia a una columna en dispositivos móviles */
    padding: 10px; /* Ajusta el padding en dispositivos móviles */
  }

  main h2,
  main p {
    font-size: 20px; /* Ajusta el tamaño del texto en dispositivos móviles */
    padding: 15px; /* Ajusta el padding en dispositivos móviles */
  }

  main div.image-container img {
    width: 100%; /* Ajusta el ancho de las imágenes en dispositivos móviles */
  }
}

nav a {
  text-decoration: none;
  border: 2px solid #00ff62;
  color: #00ff62;
  font-size: 20px;
  font-weight: bold;
  transition: background-color 0.3s;
}

nav a:hover {
  background-color: #39ff14;
  color: #000000;
}

/* Sections */
section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 50px 0;
  padding: 20px;
  border: 5px solid #00ff62;
  background-color: #000000; /* Ajuste del color de fondo a negro */
  font-family: 'Inconsolata', monospace;
  color: #00ff62;
}

section h2 {
  color: #00ff62;
  font-size: 45px;
  font-family: 'Orbitron', sans-serif;
  font-weight: 500;
  text-align: center;
  margin-bottom: 20px;
}

section p {
  color: #00ff62;
  font-size: 20px;
  text-align: justify;
  margin-bottom: 20px;
  background-color: #000000; /* Ajuste del color de fondo a negro */
}

section img {
  width: 100%;
  max-width: 800px;
  height: auto;
  border: 5px solid #00ff62;
  color: #00ff62;
  margin-bottom: 20px;
}

/* Footer */
footer {
  background-color: #000000;
  color: #00ff62;
  font-size: 20px;
  font-family: 'Orbitron', sans-serif;
  font-weight: 500;
  text-align: center;
  padding: 20px;
}

footer h2 {
  font-size: 20px;
  color: #00ff62;
  text-align: center;
  margin-bottom: 20px;
}

footer img {
  width: 60px;
  height: 60px;
  margin: 10px;
  border: 5px solid #00ff62;
  color: #00ff62;
}

/* Modificaciones para la página de servicios */
main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 20px;
}

main h2,
main p {
  border: 5px solid #00ff62;
  padding: 20px;
  text-align: center;
  background-color: #000000; /* Ajuste del color de fondo a negro */
}

main div.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main div.image-container img {
  width: 80%;
  border: 5px solid #00ff62;
  margin: 10px 0;
}

