@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&family=Orbitron:wght@500&family=Inconsolata:wght@300&display=swap');

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos generales del body */
body {
  font-family: 'Roboto Mono', monospace;
  background-color: #000000;
  background-image: linear-gradient(to bottom, #00ff62, #00ff62, #000000);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  color: #ffffff;
}

/* Estilos del encabezado */
header {
  background-color: #000000; 
  margin-top: 0;
  padding: 0;
  position: sticky;
  top: 0;
  height: 245px;
  width: 100%;
  border: 3px solid #39ff14;
  position: relative;
}

/* Estilos del encabezado - Título */
header h1 {
  color: #39ff14;
  font-size: 55px;
  font-family: 'Orbitron', sans-serif;
  font-weight: 500;
  text-align: center;
}

/*  número giratorio en el encabezado */
#rotating-number {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  font-size: 24px;
  color: #00ff33;
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  0% {
    transform: translateY(-50%) rotate(0deg);
  }
  100% {
    transform: translateY(-50%) rotate(360deg);
  }
}

/* Estilos de navegación */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

nav ul {
  display: flex;
  list-style: none;
}

nav li {
  margin-right: 20px;
}

/* Estilos de navegación en pantallas pequeñas */
@media only screen and (max-width: 767px) {
  header h1 {
    font-size: 36px; 
  }

  #rotating-number {
    font-size: 16px; 
  }

  nav {
    flex-direction: column;
    align-items: center;
  }

  nav ul {
    flex-direction: column;
    padding: 10px;
  }

  nav li {
    margin: 10px 0;
  }

  nav a {
    font-size: 18px; 
    margin-right: 0; 
  }

  main {
    grid-template-columns: 1fr; 
    padding: 10px; 
  }

  main h2,
  main p {
    font-size: 20px; 
    padding: 15px; 
  }

  main div.image-container img {
    width: 100%; 
  }
}

/* Estilos de enlaces de navegación */
nav a {
  text-decoration: none;
  border: 2px solid #005eff; 
  background-color: #005eff; 
  color: #00ff62; 
  font-size: 20px;
  font-weight: bold;
}

/* Estilos de enlaces de navegación al pasar el mousse */
nav a:hover {
  background-color: #005eff; 
  color: #00ff62;
}

/* Estilos de secciones */
section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 50px 0;
  padding: 20px;
  border: 5px solid #00ff62;
  background-color: #000000; 
  font-family: 'Inconsolata', monospace;
  color: #00ff62;
}

/* Estilos de títulos de secciones */
section h2 {
  color: #00ff62;
  font-size: 45px;
  font-family: 'Orbitron', sans-serif;
  font-weight: 500;
  text-align: center;
  margin-bottom: 20px;
}

/* Estilos de párrafos de secciones */
section p {
  color: #00ff62;
  font-size: 20px;
  text-align: justify;
  margin-bottom: 20px;
  background-color: #000000; 
}

/* Estilos de imágenes de secciones */
section img {
  width: 100%;
  max-width: 800px;
  height: auto;
  border: 5px solid #00ff62;
  color: #00ff62;
  margin-bottom: 20px;
}

/* Estilos del pie de página */
footer {
  background-color: #000000;
  color: #00ff62;
  font-size: 20px;
  font-family: 'Orbitron', sans-serif;
  font-weight: 500;
  text-align: center;
  padding: 20px;
}

/* Estilos de títulos del pie de página */
footer h2 {
  font-size: 20px;
  color: #00ff62;
  text-align: center;
  margin-bottom: 20px;
}

/* Estilos de imágenes del pie de página */
footer img {
  width: 60px;
  height: 60px;
  margin: 10px;
  border: 5px solid #00ff62;
  color: #00ff62;
}

/* Modificaciones para la página de servicios */
main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 20px;
}

/* Estilos de títulos y párrafos en la página de servicios */
main h2,
main p {
  border: 5px solid #00ff62;
  padding: 20px;
  text-align: center;
  background-color: #000000; /* Ajuste del color de fondo a negro */
}

/* Estilos del contenedor de imágenes en la página de servicios */
main div.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Estilos de imágenes en la página de servicios */
main div.image-container img {
  width: 80%;
  border: 5px solid #00ff62;
  margin: 10px 0;
}
