// Import de la fuente desde Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&family=Orbitron:wght@500&family=Inconsolata:wght@300&display=swap');

// Reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Estilos para el body
body {
  font-family: 'Roboto Mono', monospace;
  background-color: #000000;
  background-image: url("../img/fondo_cyberpunk.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  color: #ffffff;
}

// Estilos para el header
header {
  background-color: #000000;
  background-image: url("../img/header_cyberpunk.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 0;
  padding: 0;
  position: sticky;
  top: 0;
  height: 245px;
  width: 100%;

  // Estilos para el título h1 dentro del header
  h1 {
    color: #00ff62;
    font-size: 55px;
    font-family: 'Orbitron', sans-serif;
    font-weight: 500;
    text-align: center;
  }
}

// Estilos para la barra de navegación
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;

  ul {
    display: flex;
    list-style: none;

    li {
      margin-right: 20px;
    }

    a {
      text-decoration: none;
      border: 2px solid #00ff62;
      color: #00ff62;
      font-size: 20px;
      font-weight: bold;
    }
  }
}

// Estilos para las secciones
section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 50px 0;
  padding: 20px;
  border: 5px solid #00ff62;
  background-color: #000000;
  font-family: 'Inconsolata', monospace;
  color: #00ff62;

  // Estilos para los títulos h2 dentro de las secciones
  h2 {
    color: #00ff62;
    font-size: 45px;
    font-family: 'Orbitron', sans-serif;
    font-weight: 500;
    text-align: center;
    margin-bottom: 20px;
  }

  // Estilos para los párrafos dentro de las secciones
  p {
    color: #00ff62;
    font-size: 20px;
    text-align: justify;
    margin-bottom: 20px;
  }

  // Estilos para las imágenes dentro de las secciones
  img {
    width: 100%;
    max-width: 800px;
    height: auto;
    border: 5px solid #00ff62;
    color: #00ff62;
    margin-bottom: 20px;
  }
}

// Estilos para el footer
footer {
  background-color: #000000;
  color: #00ff62;
  font-size: 20px;
  font-family: 'Orbitron', sans-serif;
  font-weight: 500;
  text-align: center;
  padding: 20px;

  // Estilos para los títulos h2 dentro del footer
  h2 {
    font-size: 20px;
    color: #00ff62;
    text-align: center;
    margin-bottom: 20px;
  }

  // Estilos para las imágenes dentro del footer
  img {
    width: 60px;
    height: 60px;
    margin: 10px;
    border: 5px solid #00ff62;
    color: #00ff62;
  }
}

// Modificaciones para la página de servicios en el main
main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 20px;

  // Estilos para los títulos h2 y párrafos dentro del main
  h2, p {
    border: 5px solid #00ff62;
    padding: 20px;
    text-align: center;
  }

  // Estilos para los contenedores de imágenes dentro del main
  div.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      width: 80%;
      border: 5px solid #00ff62;
      margin: 10px 0;
    }
  }
}